body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  padding-bottom: 60px;
}


.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F8F8;
  color: #464246;
}

header {
  width: 30%;
  text-align: center;
}

header h1 {
  font-family: "Karla", serif;
  font-weight: 300;
  font-style: normal;
  color: #2b2a2b;
  font-size: 2.5em;
}

.topnav {
  display: none;
  background-color: #F8F8F8;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

a.home-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

nav {
  width: 70%;
  text-align: right;
  padding: 10px;
  background-color: #F8F8F8;
}

nav a {
  color: #464246;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #CABCB0;
}

.content {
  padding: 20px;
  margin-bottom: 1.5em;
  color: #464246;
}

footer {
  background-color: #CABCB0;
  color: #333;
  text-align: center;
  padding: 0px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  border-radius: 8px;
}

.grid-item button {
  border: none;
  background: none;
  padding: 0;
}

.grid-item button:focus {
  outline: none;
}





.modal-content img {
  border-radius: 10px;
}


.grid-item button:focus {
  outline: none;
}


.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  margin-bottom: 5px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 0 20px;
}

.about-left {
  grid-column: 1;
  text-align: center;
}

.about-content {
  padding: 20px;
}

.about-paragraph {
  text-align: left;
}

.about-right {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-right img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
}

.skills-columns {
  display: flex;
  justify-content: space-between;
}

.skills-column {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  background-color: #F8F8F8;
}

.skills-column h3 {
  font-size: 1.2em;
  color: #2b2a2b;
}

.skills-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-column li {
  margin-bottom: 5px;
  color: #464246;
}

.testimonial-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 100px;
}

.testimonial {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.testimonial.active {
  opacity: 1;
}

.testimonial blockquote {
  font-size: 22px;
}



/* Tablet (landscape) styles */
@media only screen and (max-width: 1024px) {
  .header-nav-container {
    display: block;
    padding: 10px;
    text-align: center;
  }

  header {
    width: 100%;
    /* Full width for header on tablets */
    margin-bottom: 20px;
  }

  nav {
    width: 100%;
    /* Full width for navigation on tablets */
    text-align: center;
    padding: 10px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .grid-item img {
    max-width: 100%;
    height: auto;
  }

  .about-container {
    display: block;
    padding: 0 10px;
  }

  .about-right {
    text-align: center;
    margin-top: 20px;
  }

  .testimonial blockquote {
    font-size: 16px;
  }
}

/* Mobile (portrait) styles */
@media only screen and (max-width: 600px) {
  .header-nav-container {
    padding: 10px;
  }

  header {
    text-align: center;
  }

  nav {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .grid-item img {
    max-width: 100%;
    height: auto;
  }

  .about-container {
    display: block;
    padding: 0 10px;
  }

  .about-right {
    text-align: center;
    margin-top: 20px;
  }

  .testimonial blockquote {
    font-size: 14px;
  }

  .topnav {
    display: block; /* Show topnav on mobile screens */
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }


  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}